.highlight pre .hll { background-color: #ffffcc }
.highlight pre  { background: #ffffff; }
.highlight pre .c { color: #888888; font-style: italic } /* Comment */
.highlight pre .err { background-color: #a848a8 } /* Error */
.highlight pre .k { color: #2838b0 } /* Keyword */
.highlight pre .o { color: #666666 } /* Operator */
.highlight pre .p { color: #888888 } /* Punctuation */
.highlight pre .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
.highlight pre .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.highlight pre .cp { color: #289870 } /* Comment.Preproc */
.highlight pre .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.highlight pre .c1 { color: #888888; font-style: italic } /* Comment.Single */
.highlight pre .cs { color: #888888; font-style: italic } /* Comment.Special */
.highlight pre .gd { color: #c02828 } /* Generic.Deleted */
.highlight pre .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gr { color: #c02828 } /* Generic.Error */
.highlight pre .gh { color: #666666 } /* Generic.Heading */
.highlight pre .gi { color: #388038 } /* Generic.Inserted */
.highlight pre .go { color: #666666 } /* Generic.Output */
.highlight pre .gp { color: #444444 } /* Generic.Prompt */
.highlight pre .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #444444 } /* Generic.Subheading */
.highlight pre .gt { color: #2838b0 } /* Generic.Traceback */
.highlight pre .kc { color: #444444; font-style: italic } /* Keyword.Constant */
.highlight pre .kd { color: #2838b0; font-style: italic } /* Keyword.Declaration */
.highlight pre .kn { color: #2838b0 } /* Keyword.Namespace */
.highlight pre .kp { color: #2838b0 } /* Keyword.Pseudo */
.highlight pre .kr { color: #2838b0 } /* Keyword.Reserved */
.highlight pre .kt { color: #2838b0; font-style: italic } /* Keyword.Type */
.highlight pre .m { color: #444444 } /* Literal.Number */
.highlight pre .s { color: #b83838 } /* Literal.String */
.highlight pre .na { color: #388038 } /* Name.Attribute */
.highlight pre .nb { color: #388038 } /* Name.Builtin */
.highlight pre .nc { color: #287088 } /* Name.Class */
.highlight pre .no { color: #b85820 } /* Name.Constant */
.highlight pre .nd { color: #287088 } /* Name.Decorator */
.highlight pre .ni { color: #709030 } /* Name.Entity */
.highlight pre .ne { color: #908828 } /* Name.Exception */
.highlight pre .nf { color: #785840 } /* Name.Function */
.highlight pre .nl { color: #289870 } /* Name.Label */
.highlight pre .nn { color: #289870 } /* Name.Namespace */
.highlight pre .nt { color: #2838b0 } /* Name.Tag */
.highlight pre .nv { color: #b04040 } /* Name.Variable */
.highlight pre .ow { color: #a848a8 } /* Operator.Word */
.highlight pre .w { color: #a89028 } /* Text.Whitespace */
.highlight pre .mb { color: #444444 } /* Literal.Number.Bin */
.highlight pre .mf { color: #444444 } /* Literal.Number.Float */
.highlight pre .mh { color: #444444 } /* Literal.Number.Hex */
.highlight pre .mi { color: #444444 } /* Literal.Number.Integer */
.highlight pre .mo { color: #444444 } /* Literal.Number.Oct */
.highlight pre .sb { color: #b83838 } /* Literal.String.Backtick */
.highlight pre .sc { color: #a848a8 } /* Literal.String.Char */
.highlight pre .sd { color: #b85820; font-style: italic } /* Literal.String.Doc */
.highlight pre .s2 { color: #b83838 } /* Literal.String.Double */
.highlight pre .se { color: #709030 } /* Literal.String.Escape */
.highlight pre .sh { color: #b83838 } /* Literal.String.Heredoc */
.highlight pre .si { color: #b83838; text-decoration: underline } /* Literal.String.Interpol */
.highlight pre .sx { color: #a848a8 } /* Literal.String.Other */
.highlight pre .sr { color: #a848a8 } /* Literal.String.Regex */
.highlight pre .s1 { color: #b83838 } /* Literal.String.Single */
.highlight pre .ss { color: #b83838 } /* Literal.String.Symbol */
.highlight pre .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #b04040 } /* Name.Variable.Class */
.highlight pre .vg { color: #908828 } /* Name.Variable.Global */
.highlight pre .vi { color: #b04040 } /* Name.Variable.Instance */
.highlight pre .il { color: #444444 } /* Literal.Number.Integer.Long */
